@font-face {
  font-family: "Weather-Icons";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/font/weathericons-regular-webfont.ttf");
}

h1 {
  font-size: 3em;
  text-align: center;
  color: #000;
  font-weight: 300;
}

/*--main--*/
.main {
  padding: 0.8em 0 0;
}
.main-info {
  width: 80%;
  margin: 0.8em auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.7em;
  border-radius: 5px;
}

/*--//main--*/
.weather-grids {
  float: left;
  width: 33%;
}

.weather-grids.weather-mdl {
  margin: 15px;
  text-align: center;
}

.weather-grids:nth-child(3) {
  text-align: right;
}

.weather-grids h3 {
  font-size: 1.2em;
  color: #fff;
  display: inline-block;
}

.weather-grids h2.cur {
  font-weight: 600;
  color: #fff;
  margin-top: 0.7em;
}

.weather-grids h2 {
  font-size: 2em;
  font-weight: 300;
  color: #fff;
}

.weather-grids h4 {
  font-size: 1em;
  color: #fff;
}

.weather-bottom {
  text-align: center;
  margin: 0.8em auto;
  display: flex;
  justify-content: center;
}

.weather-bottom ul li {
  display: inline-block;

  margin: 5px;

  width: 18%;
}

.weather-bottom h4 {
  font-size: 1.2em;
  color: #fff;
  font-weight: 600;
}

figure.icons {
  margin: 0.5em 0;
}

.weather-bottom h5 {
  font-size: 1.1em;
  color: #fff;
  font-weight: 400;
}

.weather-bottom h6 {
  font-size: 1em;
  color: #0f88ff;

  margin-top: 0.5em;
}



.show-temp {
  display: flex;
  position: relative;
}





#metrics:after {
  font-family: "Weather-Icons";
  content: attr(data-icon);
}

/*--copyright--*/
.copyright {
  margin: 2em 0 1em;
  text-align: center;
  display: block;
  color: #fff;
}

.copyright p {
  font-size: 1.1em;
  color: #bebebe;
  line-height: 1.8em;
}

.copyright p a {
  color: #bebebe;
}

.copyright p a:hover {
  color: #ffd700;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/*-- //low-high temperature-range --*/




